*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* starting of header styling */

header{
    padding: 2rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 176px;
    height: 50px;
}

header .navbar a{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 32px;
    color: #212121;
    text-decoration: none;
}

/* ending of header styling */

.section{
    margin-top: 5rem;
}


.container{
    margin: auto 90px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

 .image{
    width: 80%;
    margin-left: 60px;

}

.arrange h1{
    font-size: 65px;
    text-align: center;
    line-height: 90px;
}

.icon img{
    width: 2%;
    margin: 15px;
    
}

.icon{
    text-align: center;
    justify-content: space-between;
    color: aqua;
}

.arrange p{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.arrange .poo{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}


.olmo h2{
    text-align: right;
    margin-bottom: 7rem;
}

.olmo a{
    text-decoration: none;
    color: blue;
}

.form h1{
    font-size: 40px;
    padding-bottom: 15px;
}

.form p{
    font-size: 22px;
    padding-bottom: 30px;
}









.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 30px;
}
.input-box label {
  color: #333;
  font-size: 20px;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 80px;
  width: 100%;
  outline: none;
  font-size: 20px;
  background-color: #f8f8f8;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
}


.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-box input:hover {
    border: 1px solid rgb(172, 172, 255);
  }
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 70px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.foot{
    font-size: 24px;
    margin-top: 70px;
    line-height: 40px;
}

.design{
    color: blue;
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}